.navbar-brand{
	background-image:url(http://www.apple.com/ac/globalnav/2.0/en_US/images/ac-globalnav/globalnav/apple/image_large.svg);
	background-size:20px 44px;
	background-position: center;
	background-repeat:no-repeat;
}